@model IEnumerable<ScheduleProg.Models.Semester>

@{
    ViewData["Title"] = "Index";
}

<h1>Список семестрів</h1>

<p>
    <a asp-action="Create">Створити новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Semester_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Semester_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begin_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
